body {
    padding: 0;
    margin: 0;
    background: #1a1a1a !important;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face { font-family: Fut_Normal; src: url("../Fonts/futura medium bt.ttf"); } 
@font-face { font-family: Fut_Bold; src: url("../Fonts/Futura Bold font.ttf");}
@font-face { font-family: Fut_Heavy; src: url("../Fonts/Futura Heavy font.ttf");}
@font-face { font-family: ITC_Souvenir; src: url("../Fonts/Souvenir-Medium.otf");}

#page-container {
    position: relative;
    min-height: 102vh;
}

#content-wrap {
    margin-top: 6em;
}

.container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

.navbar {
    position: fixed;
    background: #1a1a1a;
    height: 6em;
    scroll-padding-top: 1em;
}

.nav-link {
    font-family: "Fut_Normal";
    color: #C6E3EF !important;
    text-decoration: none; 
    padding: 1em;
    justify-content: flex-end;
    font-size: 1.1rem;
    margin-top: 1em;
    margin-right: 3.25em;
}

.nav-link:active {
    font-family: "Fut_Heavy";
}

.nav-link:hover {
    transform: scale(1.1);
    color: white !important;
}

.navbar-collapse {
    background-color: rgba(26, 26, 26, 0.8);
    justify-content: flex-end;
    padding-bottom: 2em;
    margin-top: -0.5em;
}

.navbar-toggle {
    margin-right: 2.5em;
}

.navbar-brand h3 {
    padding-top: 0.75em;
    font-size: 1.2rem;
    font-family: "Fut_Heavy";
    text-align: center;
    margin-left: 1.8em;
    color: #C6E3EF;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(198,227,239)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggle{
    background-color: transparent;
    border: transparent;
}

.navbar-toggle:hover {
    transform: scale(1.2);
}

.navbar-toggle:active {
    background-color: white;
    border-radius: 50%;
    width: 2em;
}

#Top-Line {
    padding-top: 5em;
}

#Top-Line hr {
    z-index: 99;
    position: fixed;
    height: 4px;
    width: 92%;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #257eba;
    background-image: linear-gradient(to right, #21527f, #257eba, #c6e3ef);
    opacity: 1;
}

#photos {
    pointer-events: none;
    -webkit-column-count: 1;
    -webkit-column-gap:   1em;
    -moz-column-count:    1;
    -moz-column-gap:      1em;
    column-count:         1;
    column-gap:           1em;  
}

#photos img {
    width: 100%;
    margin-top: 1em;
    height: auto !important;
    border-radius: 1em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Calling_Button_Container {
    padding-top: 2em;
    width: 8em;
    margin: auto;
    display: flex;
    justify-content: center;
}

#Calling_Button {
    width: 8em;
    height: auto;
    background-color: #C6E3EF;
    font-family: "ITC Souvenir" !important;
    text-align: center;
    font-size: 1rem;
    color: #21527F;
    text-decoration: none;
}

#Calling_Button:hover {
    transform: scale(1.075);
}

#Contact_Me {
    position: relative;
    padding-top: 5.5em;
    font-family: "ITC Souvenir" !important;
    text-align: center;
    font-size: 1rem;
    color: #C6E3EF;
    width: 82%
}

#Email-Container {
    padding-bottom: 5.5em;
}

#Footer_Section {
    position: relative;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: white;
    color: #1a1a1a;
    font-family: "Fut_Normal";
    text-align: center;
    bottom: 0;
}

.Footer_Text {
    font-size: 0.9rem;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

@media (min-width: 481px) {
    .navbar-brand h3 {
        margin-left: 2.7em;
        font-size: 1.4rem;
    }

    .navbar-toggle {
        margin-right: 2.7em;
        font-size: 1.3rem;
    }

    #Top-Line hr {
        width: 94%;
        height: 5px;
        margin-top: 0.95em;
    }

    #Calling_Button {
        font-size: 1.2rem;
    }

    #Contact_Me {
        font-size: 1.2rem;
        width: 80%;
    }

    .Footer_Text {
        font-size: 1.1rem;
    }
}

@media (min-width: 620px) {
    .navbar-toggle {
        margin-right: 2.5em;
    }

    #Top-Line hr {
        width: 96%;
        height: 5px;
    }

    #Contact_Me {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .navbar-brand h3 {
        margin-left: 2em;
    }

    .nav-link {
        margin-right: 1.8em;
        margin-left: -1em;
        font-size: 1.3rem;
        margin-top: 1.3em;
    }


    #Top-Line hr {
        z-index: 10000;
        width: 97%;
        height: 5px;
        transform: translateX(-50%);
    }

    .Calling_Button_Container {
        padding-left: 3em;
    }

    #Calling_Button {
        font-size: 1.3rem;
    }

    #Contact_Me {
        font-size: 1.2rem;
        width: 85%;
        padding-top: 3.3em;
    }

    #Email-Container {
        padding: 0;
        padding-top: 2em;
        padding-bottom: 6.5em;
    }

    .Footer_Text {
        font-size: 1.1rem;
    }

    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    
    img {
         border-radius: 0.5em;
    }
}

@media (min-width: 991px) {
    .navbar-brand h3 {
        margin-left: 3.8em;
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1.4rem;
        margin-top: 1.3em;
        margin-left: -2.5em;
        margin-right: 3.8em;
    }

    #Top-Line hr {
        width: 82%;
    }

    .Calling_Button_Container {
        padding: 0;
        padding-top: 2em;
    }

    #Calling_Button {
        font-size: 1.4rem;
    }

    #Email-Container {
        padding-top: 5.5em;
    }

    #Contact_Me {
        padding-top: 3.8em;
        padding-bottom: 5em;
    }

}

@media (min-width: 1201px) {
    .navbar {
        height: 7em;
    }

    .navbar-brand h3 {
        margin-left: 4.2em;
    }

    .nav-link {
        margin-right: 4.4em;
    }

    #Top-Line {
        padding-top: 6em;
    }

    #Top-Line hr {
        width: 82%;
    }
}

@media (min-width: 1440px) {
    #Top-Line hr {
        width: 88%;
    }

    .nav-link {
        margin-right: 4em;
    }
}

@media (min-width: 1696px) {
    #Calling_Button {
        font-size: 1.5rem;
    }

    .navbar-brand h3 {
        font-size: 1.6rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    #Contact_Me {
        font-size: 1.5rem;
        padding-top: 5em;
    }

    #Email-Container {
        font-size: 1.5rem;
    }

    .Footer_Text {
        font-size: 1.4rem;
    }
}

@media (min-width: 1920px) {
    #Top-Line hr {
        width: 90%;
        height: 5.5px;
    }

    #Calling_Button {
        font-size: 1.6rem;
    }

    .navbar-brand h3 {
        font-size: 1.7rem;
    }

    .nav-link {
        font-size: 1.6rem;
    }

    #Contact_Me {
        font-size: 1.6rem;
        padding-top: 5.5em;
    }

    .Footer_Text {
        font-size: 1.5rem;
    }

    #Email-Container {
        font-size: 1.6rem;
    }
}
